{% extends 'home/base_home.html' %}
{% load static %}

{% block content %}
        <section class="about-us">
            <h2>ABOUT US</h2>
            <div class="about-icon">
                <img src="{% static 'home/'%}img/section-icon.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="video">
                            <!--<iframe width="100%" src="https://www.youtube.com/embed/HZRp6iRjnhQ" frameborder="0" allowfullscreen></iframe>-->
                            <img width="100%" src="{% static 'home/'%}img/secretDevLogoWhite.png"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text">
                            <h4>As an established technology-intensive company, we pride ourselves on providing a comprehensive suite of solutions comprising of on/offsite services, custom software and web development, software and web application testing. Our team consistently delivers state-of-the-art solutions in various areas including, but not limited to, integrated business solutions, system applications, product development, Internet/Intranet applications and communication and network management services. At Secret Developers Ltd, we guarantee rapid, reliable and robust information technology solutions that work. </h4>
                            <h3>Who we are</h3>
                            <p>We are Secret Developers.</p>

                            <button>READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="service">
            <h2>SERVICES</h2>
            <div class="about-icon">
                <img src="{% static 'home/'%}img/section-icon.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <h4>App Development</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-chrome" aria-hidden="true"></i>
                            <h4>Web Development</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                            <h4>Software</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-gavel" aria-hidden="true"></i>
                            <h4>Hardware Solution</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <h4>Graphical Design</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                            <h4>Architect Solution</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>


         <section class="our-team">
            <h2>OUR TEAM</h2>
            <div class="about-icon">
                <img src="{% static 'home/'%}img/section-icon.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="hexagon1">
                            <img src="{% static 'home/'%}img/shepe-team-area.png" alt="">
                            <div class="hexagon one1">
                                <img src="{% static 'home/'%}img/team_nahid.jpg" alt="">
                            </div>
                            <h3>Nahid Hasan</h3>
                            <p>Coder</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="hexagon1">
                            <img src="{% static 'home/'%}img/shepe-team-area.png" alt="">
                            <div class="hexagon one2">
                                <img src="{% static 'home/'%}img/team_xian.jpg" alt="">
                            </div>
                            <h3>Abir Hossain Xian</h3>
                            <p>Coder</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="hexagon1">
                            <img src="{% static 'home/'%}img/shepe-team-area.png" alt="">
                            <div class="hexagon one3">
                                <img src="{% static 'home/'%}img/team_niloy.jpg" alt="">
                            </div>
                            <h3>A.H.M Annur Niloy</h3>
                            <p>Coder</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="hexagon1">
                            <img src="{% static 'home/'%}img/shepe-team-area.png" alt="">
                            <div class="hexagon one4">
                                <img src="{% static 'home/'%}img/team_sagir.jpg" alt="">
                            </div>
                            <h3>Sagir Hossain Khan</h3>
                            <p>Web Designer</p>
                        </div>
                    </div>



                </div>

            </div>
        </section>


        <section class="footer-icon">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-carousal owl-carousel owl-theme">
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/python.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/java.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/sql.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/c_sharp.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/django.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/flask.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/php.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/html_css.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/arduino.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/autocad.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/photoshop.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/drupal.png" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'home/'%}img/footer_icon/wordpress.png" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

<!DOCTYPE html>
<html lang="en">

{% load static %}